* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

.hero img {
    width: 100px;
    height: auto;
}