@media screen and (min-width: 64rem) {
    body {
        font-size: 1.25rem;
    }
    .header-logo {
        min-width: 50%;
        width: 75%;
    }
    .header-logo img {
        width: 100%;
    }
    .header-h1 {
        font-size: 2.5rem;
    }
    #todaysDate {
        margin-top: 0;
        padding: 0;
